.jui_mask{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(0,0,0,.6);
    top: 0;
    left:0;
}
.loading {
    z-index: 1001;
    position: fixed;
    margin: 0 auto;
    width: 50px;
    height:50px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    background: url(loading2.gif) no-repeat center;background-size: 100%;
}
.alert_boundingBox {
    position: fixed;
    z-index: 5000;
    width: 80%;
    max-width: 300px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    background-color:#fff;
    text-align: center;
    border-radius: 3px;
}
.alert_hd {
    padding: 1.3em 1.6em .5em;
}
.alert_title{
    font-weight: 400;
    font-size: 18px;
}
.alert_bd{
    padding: 0 1.6em .8em;
    min-height: 40px;
    font-size: 15px;
    line-height: 1.3;
    word-wrap: break-word;
    word-break: break-all;
    color: #999;
}
.alert_ft{
    position: relative;
    line-height: 48px;
    font-size: 18px;
    display: -webkit-flex;
    display: flex;
}
.alert_ft::after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #d5d5d6;
    color: #d5d5d6;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}


.alert_btn {
    /*display: block;*/
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    position: relative;
}
.alert_btn_primary {
    color: #0bb20c;
}
.alert_btn_default {
    color: #353535;
}
.alert_btn_primary::after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    bottom: 0;
    border-left: 1px solid #d5d5d6;
    color: #d5d5d6;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleX(.5);
    transform: scaleX(.5);
}

.animate-fade-in {
    -webkit-animation:fadeIn ease .5s forwards;
    animation: fadeIn ease .5s forwards;
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0; /*初始状态 透明度为0*/
    }
    100% {
        opacity: 1; /*结尾状态 透明度为1*/
    }
}
