.mask{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(0,0,0,.6);
    top: 0;
    left:0;
}
.alert_boundingBox {
    position: fixed;
    z-index: 5000;
    width: 80%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    height: 50px;
    background-color:#fff;
    text-align: center;
    border-radius: 3px;
}